.coverMainPage {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    width: 100vw;
    /* background-color: aqua; */
}

.navigation-cover {
    /* flex-basis: 30%; */
    width: 300px;
}

.mainPhraseCover {
    /* flex-basis: 70%; */
    width: calc(100vw - 400px);
    margin-left: 60px;
}