.infoTitle h1 {
    width: 100%;
    font-weight: 400;
    text-align: center;
}

.formUnit {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
    align-items: center;
    /* margin: 5px 0; */
}

.formUnit__input {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #1A1A1A;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}

/* styling of Input */
.input {
    color: #000;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}

/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

/* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}

/* here is code of animated border */
input:focus~.input-border {
    width: 100%;
}

label {
    min-width: 200px;
}

/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
     width: 100%;
   } */

.formRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
    margin: 20px 0;
}

.formRow > div {
    flex-basis: 50%;
    justify-content: left;
}