.direct__option {
    display: flex;
    flex-direction: row;
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    height: 80px;
    transform: translateX(-30px);
    margin: 15px 0;
    padding-right: 30px;
    position: relative;
    overflow: hidden;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.direct__option:hover {
    cursor: pointer;
}

.direct__option::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 0px;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 52%, rgba(0,212,255,1) 100%);
    transition: all 0.75s ease;
}

.direct__option:hover::after {
    width: 30px;
}

.direct__option-icon {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 80px;
    width: 80px;
}

.direct__option-icon ion-icon {
    font-size: 40px;
}

.direct__option-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.direct__option-name h3 {
    text-align: center;
    font-family: 'Gruppo', cursive;
}

.active {
    height: 100px;
}